*,
*::before,
*::after {
    box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
    font: inherit;
}
body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
}
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}
input,
button,
textarea,
select {
    outline: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
li {
    list-style: none;
}

:root {
    --red-color: #ED1B24;
    --yellow-color: #FFC20F;
}

.image__landing {
    position: relative;
}

.image__landing-img {
    width: 100%;
}

.image__landing__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    color: white;
    text-align: center;
}

.image__landing__content-title {
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 1rem;
}

.image__landing__content-subtitle {
    font-size: 20px;
    font-weight: 500;
}