.brand {
   color: black;
   display: flex;
   align-items: center;
   justify-content: space-between;
   max-width: 1200px;
   margin-top: 100px;
   margin-left: auto;
   margin-right: auto;
   margin-bottom: 80px;
}

.brand__title {
   color: var(--red-color);
   font-weight: 700;
   margin-bottom: 30px;
   font-size: 20px;
}

.brand__list {
   display: flex;
   flex-direction: column;
   gap: 30px;
   font-weight: 400;
   font-size: 20px;
}

.brand__image img {
   max-width: 350px;
}

.product {
   max-width: 1200px;
   margin: 0 auto;
   margin-bottom: 120px;
}

.product__container {
   display: flex;
   flex-direction: column;
   gap: 48px;
}

.product__list {
   display: flex;
   align-items: center;
   gap: 48px;
}

.product__list-item {
   position: relative;
}

.product__list-item-content {
   position: absolute;
   bottom: 30px;
   left: 30px;
}

.product__list-item-title {
   font-weight: 800;
   font-size: 38px;
   color: white;
}

.product__list-item-description {
   font-weight: 700;
   font-size: 20px;
   color: var(--yellow-color);
}
